rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users for development purposes.
    // You should secure these rules before moving to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
