@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 33% 94%;
    --foreground: 215 39% 31%;

    --card: 0 0% 100%;
    --card-foreground: 215 39% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 39% 31%;

    --primary: 215 49% 31%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 214 18% 85%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 215 28% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 49% 31%;

    --radius: 0.5rem;

    --chart-1: 215 49% 31%;
    --chart-2: 215 28% 48%;
    --chart-3: 160 60% 45%;
    --chart-4: 43 74% 66%;
    --chart-5: 280 65% 60%;
  }

  .dark {
    --background: 220 23% 11%;
    --foreground: 210 40% 98%;

    --card: 220 23% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 220 23% 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 215 49% 31%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 215 28% 48%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 215 49% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
